* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 60px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 64.375px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 120px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 150px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 200px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 225px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 250px;
  }
}

.bg {
  width: 100%;
  height: 100vh;
  background: url("../images/d1.png") no-repeat center center;
  background-size: 100% auto;
  position: relative;
}

#wxalert {
  width: 100%;
  height: 100%;
  background: black url("../images/xiazai.png") no-repeat center top;
  background-size: 100% auto;
  display: none;
}

.download {
  width: 5rem;
  height: 0.9rem;
  font-size: 0.3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  margin: auto;
  text-align: center;
  line-height: 0.9rem;
  border: 1px solid #F5F5F5;
  border-radius: 0.1rem;
  background: #FF8673;
  color: white;
  transition: all 0.3s ease;
}

.download:active {
  background: #000;
}

.noapp {
  width: 5rem;
  height: 3rem;
  background: white;
  border-radius: 0.1rem;
  border: 1px solid #D3D3D3;
  font-size: 0.32rem;
  margin: auto;
  text-align: center;
  line-height: 2rem;
  opacity: 1;
  transition: all 0.3s ease;
  transform: translate3d(0, 1.5rem, 0);
  position: relative;
  opacity: 0;
  box-shadow: 0 0 0.2rem #4B4B4B;
}

.noapp.active {
  transform: translate3d(0, 2rem, 0);
  opacity: 1;
}

.ok {
  width: 100%;
  height: 0.8rem;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.8rem;
  letter-spacing: 0.1rem;
  border-top: 1px solid #D3D3D3;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: all 0.2s ease;
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.ok:active {
  background: #FF8673;
}
